{% extends 'base.html.twig' %}

{% block title %}
    Stage direct | Doc
{% endblock %}

{% block body %}
    <form method="post" action="{{ path('app_pdf_export') }}">
        <textarea id="mytextarea" name="editorContent"></textarea>
        <button type="submit" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded">
            Exporter en PDF
        </button>
    </form>
{% endblock %}

{% block javascripts %}
    {% block importmap %}
        {{ importmap('app') }}
    {% endblock %}
    <script src="js/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea',
            plugins: 'print preview fullpage',
            toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | removeformat',
            menubar: 'file edit view insert format tools table help'
        });
    </script>
    <script src="/js/tailwind.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
{% endblock %}
