{% extends 'base.html.twig' %}

{% block title %}Hello PdfController!{% endblock %}

{% block body %}

<head>
    <meta charset="UTF-8">
    <title>PDF Exemple</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h1>PDF Exemple</h1>
    <p>{{ data }}</p>
</body>
</html>
{% endblock %}
